<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h3 class="panel-title pull-left">{{contact?.name}}</h3>
    <span *ngIf="contact" class="pull-right">
      <img [src]="contact.imageUrl" [alt]="contact.name" 
           class="img-circle" style="width: 80px; height: 80px;">
    </span>
    <div class="btn-group pull-right" style="margin-right: 10px;">
      <a class="btn btn-primary">Edit</a>
      <a class="btn btn-danger">Delete</a>
    </div>
  </div>
  <div class="panel-body">
    <p *ngIf="contact">Email: {{contact.email}}</p>
    <p *ngIf="contact">Phone: {{contact.phone}}</p>
    <p *ngIf="!contact">Select a contact to see details</p>
  </div>
</div>
